/* purgecss start ignore */
.consult {
  .table {
    @apply text-sm rounded-lg mt-4;
    border: 1px solid #e1e1e1;
  }
  .thead {
    @apply p-4 rounded-tl-lg rounded-tr-lg;
    background: #f5f5f5;
    color: #666;
    li {
      width: 20%;
      // &:nth-child(1) {
      //   width: 100px;
      // }
      // &:nth-child(2) {
      //   width: 100px;
      // }
      // &:nth-child(3) {
      //   width: 140px;
      // }
      // &:nth-child(4) {
      //   width: 140px;
      // }
      // &:nth-child(5) {
      //   width: 120px;
      // }
      // &:nth-child(6) {
      //   width: 120px;
      // }
    }
  }
  .tbody {
    @apply p-4;
    color: #333;
    border-bottom: 3px solid #efefef;
    &:last-child {
      border-bottom: none;
    }
    li {
      width: 20%;
      // &:nth-child(1) {
      //   width: 100px;
      // }
      // &:nth-child(2) {
      //   width: 100px;
      // }
      // &:nth-child(3) {
      //   width: 140px;
      // }
      // &:nth-child(4) {
      //   width: 140px;
      // }
      // &:nth-child(5) {
      //   width: 120px;
      // }
      // &:nth-child(6) {
      //   width: 120px;
      // }
    }
  }
  .search-area {
    @apply w-full p-8;
    .thead,
    .tbody {
      li {
        @apply text-center;
        input {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 120px;
        }
      }
      li:nth-child(1) {
        width: 20%;
      }
      li:nth-child(2) {
        width: 20%;
      }
      li:nth-child(3) {
        width: 20%;
      }
      li:nth-child(4) {
        width: 30%;
      }
    }
    .thead {
      background-color: #d4f3ad;
      li {
        text-align: left;
        &:first-child {
          select {
            // padding: 1rem 0;
            height: 100%;
          }
        }
      }
    }
    .tbody {
      li {
        &:first-child {
          select {
            // padding: 1rem 0;
            height: 100%;
          }
        }
      }
    }
    .datepicker-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      @apply inline-block border rounded-md w-140 py-2 text-center float-left;
    }
    .search-btn {
      @apply block p-3 text-center text-white rounded-full w-3/5 mx-auto mt-8 text-xl;
      background-color: #7fd334;
    }
    .datepicker-input table {
      @apply rounded-lg;
      border: 1px solid #d4f3ad;
      width: 100%;
      border-collapse: inherit;
    }
    .date-icon {
      width: 30px;
    }
    thead {
      @apply rounded-lg;
      background-color: #d4f3ad;
      border-collapse: inherit;
      th {
        @apply py-2 text-gray-600;
        &:nth-child(1) {
          @apply rounded-tl-lg;
          width: 110px;
        }
        &:nth-child(2) {
          width: 140px;
        }
        &:nth-child(3) {
          @apply rounded-tr-lg;
        }
      }
    }
    tbody {
      td {
        @apply p-2 text-gray-600;
      }
    }
  }
  .product-list {
    border-top: 8px solid #d4f3ad;
    .search-result-table {
      border-collapse: inherit;
      tbody tr td {
        border-collapse: collapse;
        border: none;
      }
    }
  }
}
/* purgecss end ignore */
