// @import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  // font-family: 'Jost', 'Noto Sans KR', sans-serif;
  font-family: 'Noto Sans KR', 'NanumSquareRound', sans-serif;
}
