.login-page {
  input[type='text'],
  input[type='password'] {
    @apply p-4 w-full rounded-full border border-gray-200;
    &:focus {
      @apply outline-none shadow-outline;
    }
  }
}
.login-left {
  background-image: url('../image/2063.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
