.container1 {
  @apply min-h-screen w-full overflow-x-hidden;
  background-color: #a6d873;
  .logo {
    @apply absolute;
    left: 1rem;
    top: 1rem;
    img {
      width: 80px;
    }
  }
  .card-wrapper {
    @apply m-auto h-full;
    width: 90%;
    // height: 500px;
  }
  .card {
    @apply rounded-lg;
    .bg-img {
      // @apply h-full w-full;
      // @apply h-5/6 w-5/6;
      width: 90%;
      height: 90%;
    }
    .title-img {
      @apply absolute left-0 top-0;
      height: 60px;
      top: 3rem;
      left: -0.5rem;
    }
    &:first-child {
      // background-image: url('../image/main-select1.png');
      // background-size: cover;
      // background-repeat: no-repeat;
      // @apply p-8 text-white text-center;
      // background-color: #438dff;
      // h3 {
      //   @apply font-black text-xl mt-2 mb-8;
      // }
      // span {
      //   @apply px-10 py-2 rounded-full bg-white;
      //   color: #438dff;
      // }
    }
    &:last-child {
      // @apply p-8 text-white text-center;
      // span {
      //   @apply px-10 py-2 rounded-full;
      //   background-color: #fb472f;
      // }
      // background-color: #fdb30e;
    }
  }
  .go-history {
    @apply absolute shadow-md;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    line-height: 64px;
  }
}

.go-home {
  @apply fixed shadow-md;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  line-height: 64px;
  // text-indent: -9999px;
  // overflow: hidden;
  // background-image: url('../image/home.png');
  // background-color: #7ed234;
  // background-size: 50%;
  // background-repeat: no-repeat;
  // background-position: center center;
}
.go-back {
  @apply fixed shadow-md;
  left: 1rem;
  bottom: 6rem;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  line-height: 64px;
}
// .go-back {
//   @extend .go-home;
//   bottom: 6rem;
//   background-image: url('../image/go-back.png');
//   background-size: 40%;
// }

.bookclub-logo {
  @apply absolute;
  right: 2rem;
  top: 1rem;
  width: 64px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url('../image/bookclub-logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  &.result {
    background-image: url('../image/bi_blue.png');
  }
}
