.container1 {
  @apply bg-gray-700 min-h-screen w-full overflow-x-hidden;
  .card-wrapper {
    @apply w-5/6 m-auto;
    height: 400px;
  }
  .card {
    @apply rounded-lg bg-red-400;
    &:first-child {
      @apply p-8 text-white text-center;
      background-color: #438dff;
      h3 {
        @apply font-black text-xl mt-2 mb-8;
      }
      span {
        @apply px-10 py-2 rounded-full bg-white;
        color: #438dff;
      }
    }
    &:last-child {
      @apply p-8 text-white text-center;
      span {
        @apply px-10 py-2 rounded-full;
        background-color: #fb472f;
      }
      background-color: #fdb30e;
    }
  }
}
.go-home {
  @apply fixed shadow-md;
  left: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url('../image/home.png');
  background-color: #7ed234;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
}

.bookclub-logo {
  @apply absolute;
  right: 2rem;
  top: 1rem;
  width: 64px;
  text-indent: -9999px;
  overflow: hidden;
  background-image: url('../image/bi_blue.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
