.survey {
  // background-color: #defcb8;
  background-color: #fff;
  // height: 100vh;
  // @apply py-3p;
  h1 {
    top: 1rem;
    font-family: 'NanumSquareRound';
    font-weight: bold;
  }
  .agree-wrap {
    overflow: scroll;
  }
  .agree-close {
    position: absolute;
    top: 2rem;
    right: 0;
    img {
      width: 80px;
    }
  }
  .agree-content {
    @apply text-xs;
    overflow: auto;
  }
  .private-agree-wrap {
    // background-color: #defcb8;
    border: 1px solid #7fd334;
    a {
      margin-top: 2px;
    }
  }
  .title {
    background: #2acdf3;
  }
  .search-label {
    width: 290px;
  }
  .search-wrap {
    color: #333;
    &.counselor {
      background-color: #e5f8ff;
    }
    background-color: #defcb8;
    .agree-wrap {
      button {
        color: #555;
        font-size: 1rem;
      }
    }
  }
  .search-btn {
    background-color: #7fd334;
    // height: 40px;
    border: 0;
  }
  .search-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    border: 1px solid #2acef4;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 98% center;
    background-image: url('/cheveron-bottom.png');
    background-size: 18px;
  }
  .search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0 !important;
    border: 1px solid #7fd334;
    background-color: #fff;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    // &.select {
    //   background-repeat: no-repeat;
    //   background-position: 98% center;
    //   background-image: url('/cheveron-bottom.png');
    //   background-size: 18px;
    //   -webkit-appearance: none;
    //   -moz-appearance: none;
    //   appearance: none;
    // }
    // background: url('/uploads/media/default/0001/02/f7b4d3d2ba3fe1d8518e6e63d7740e1e73921abf.png')
    //   96% / 15% no-repeat;
    &::placeholder {
      @apply text-xl;
      color: #999;
    }
  }
  .search-result-table {
    border-collapse: inherit;
    tbody {
    }
    tbody tr td {
      border-collapse: collapse;
      border: none;
    }
  }
  .table {
    @apply text-sm rounded-lg mt-4;
    border: 1px solid #e1e1e1;
  }
  .thead {
    @apply p-4 rounded-tl-lg rounded-tr-lg;
    background: #f5f5f5;
    color: #666;
    li {
      width: 16.67%;
      // &:nth-child(1) {
      //   width: 60px;
      // }
      // &:nth-child(2) {
      //   width: 100px;
      // }
      // &:nth-child(3) {
      //   width: 160px;
      // }
      // &:nth-child(4) {
      //   width: 140px;
      // }
      // &:nth-child(5) {
      //   width: 60px;
      // }
      // &:nth-child(6) {
      //   width: 120px;
      // }
    }
  }
  .tbody {
    @apply p-4;
    color: #333;
    border-bottom: 3px solid #efefef;
    &:last-child {
      border-bottom: none;
    }
    li {
      width: 16.67%;
      // &:nth-child(1) {
      //   width: 60px;
      // }
      // &:nth-child(2) {
      //   width: 100px;
      // }
      // &:nth-child(3) {
      //   width: 160px;
      // }
      // &:nth-child(4) {
      //   width: 140px;
      // }
      // &:nth-child(5) {
      //   width: 60px;
      // }
      // &:nth-child(6) {
      //   width: 120px;
      // }
    }
  }
  .no-data-wrap {
    border: 1px solid #e1e1e1;
    border-radius: 0.8rem;
  }
  .no-data {
    color: #999;
  }
  .button-info-start {
    // @apply absoulte;
    position: fixed;
    width: 400px;
    bottom: 1rem;
    left: 50%;
    margin-left: -200px;
  }
}
