.survey-select-wrap {
  @apply py-3p;
  min-height: 100vh;
  background-color: #32bcad;
  .title {
    top: 1rem;
    background: #fff;
    color: #32bcad;
    font-family: 'NanumSquareRound';
    font-weight: bold;
  }
  .sub-title {
    // @apply bg-white p-3 text-xl text-center rounded-full w-5/6 mx-auto font-bold;
    @apply text-3xl text-center font-bold text-white;
    font-family: 'NanumSquareRound';
    font-weight: bold;
  }
  .img-select-wrap {
    @apply mt-3 mx-auto p-8;
  }
  .select-img {
    @apply bg-white rounded-lg shadow-lg relative;
    width: 47%;
    padding-top: 40%;
  }
  .img-select-inner {
    @apply absolute right-0 bottom-0 rounded-lg bg-red-400 overflow-hidden;
    width: calc(100% - 1.4rem);
    height: calc(100% - 1.4rem);
    top: 0.7rem;
    left: 0.7rem;
  }
  .img-select-left {
    @extend .select-img;
  }
  .img-select-right {
    @extend .select-img;
  }
  .pagination {
    @apply bg-white py-4 rounded-full w-120 mx-auto text-center font-extrabold;
    position: fixed;
    color: #32bcad;
    bottom: 1rem;
    left: 50%;
    margin-left: -60px;
    font-family: 'NanumSquareRound';
    font-weight: bold;
  }
  .go-main {
    @apply fixed flex items-center justify-center text-white py-4 rounded-full mx-auto text-center;
    background-color: #309a8e;
    right: 1rem !important;
    bottom: 1rem;
    width: 110px;
    font-family: 'NanumSquareRound';
    font-weight: bold;
    img {
      height: 24px;
      margin-right: 15px;
    }
  }
}
