.survey-select-wrap {
  @apply py-3p;
  min-height: 100vh;
  background-color: #cbedff;
  .title {
    top: 1rem;
    background: #2acdf3;
  }
  .sub-title {
    @apply bg-white p-4 text-xl text-center rounded-full w-5/6 mx-auto;
  }
  .img-select-wrap {
    @apply mt-3 mx-auto p-8;
  }
  .select-img {
    @apply bg-white rounded-lg shadow-lg relative;
    width: 47%;
    padding-top: 40%;
  }
  .img-select-inner {
    @apply absolute right-0 bottom-0 rounded-lg bg-red-400 overflow-hidden;
    width: calc(100% - 1.4rem);
    height: calc(100% - 1.4rem);
    top: 0.7rem;
    left: 0.7rem;
  }
  .img-select-left {
    @extend .select-img;
  }
  .img-select-right {
    @extend .select-img;
  }
  .pagination {
    @apply bg-white py-4 rounded-full w-120 mx-auto text-center;
    color: #6dcacf;
  }
  .go-main {
    @extend .pagination;
    @apply fixed text-white text-sm;
    background-color: #6dcacf;
    right: 1rem;
    bottom: 1rem;
    // width: 140px;
  }
}
