.survey {
  // background-color: #defcb8;
  background-color: #fff;
  min-height: 100vh;
  @apply py-3p;
  h1 {
    top: 1rem;
  }
  .agree-wrap {
    overflow: scroll;
  }
  .agree-close {
    position: absolute;
    top: 2rem;
    right: 0;
    img {
      width: 80px;
    }
  }
  .agree-content {
    @apply text-xs;
    overflow: auto;
  }
  .private-agree-wrap {
    // background-color: #defcb8;
    border: 1px solid #7fd334;
    a {
      margin-top: 2px;
    }
  }
  .title {
    background: #2acdf3;
  }
  .search-label {
    width: 290px;
  }
  .search-wrap {
    background-color: #defcb8;
  }
  .search-btn {
    background-color: #7fd334;
    // height: 40px;
    border: 0;
  }
  .search-input {
    border: 1px solid #7fd334;
  }
  .search-result-table {
    border-collapse: inherit;
    tbody {
    }
    tbody tr td {
      border-collapse: collapse;
      border: none;
    }
  }
  .table {
    @apply text-sm rounded-lg mt-4;
    border: 1px solid #e1e1e1;
  }
  .thead {
    @apply p-4 rounded-tl-lg rounded-tr-lg;
    background: #f5f5f5;
    color: #666;
    li {
      &:nth-child(1) {
        width: 60px;
      }
      &:nth-child(2) {
        width: 100px;
      }
      &:nth-child(3) {
        width: 160px;
      }
      &:nth-child(4) {
        width: 140px;
      }
      &:nth-child(5) {
        width: 60px;
      }
      &:nth-child(6) {
        width: 120px;
      }
      // &:nth-child(7) {
      //   width: 140px;
      // }
    }
  }
  .tbody {
    @apply p-4;
    color: #333;
    border-bottom: 3px solid #efefef;
    &:last-child {
      border-bottom: none;
    }
    li {
      &:nth-child(1) {
        width: 60px;
      }
      &:nth-child(2) {
        width: 100px;
      }
      &:nth-child(3) {
        width: 160px;
      }
      &:nth-child(4) {
        width: 140px;
      }
      &:nth-child(5) {
        width: 60px;
      }
      &:nth-child(6) {
        width: 120px;
      }
      // &:nth-child(7) {
      //   width: 100px;
      // }
    }
  }
}
